<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tapa.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link img
  <title>mi propia pagina</title>
</head>

<body id="cuerpo">
  <main class="main">
    <h4> mis conocimientos en it</h4>
    <div class="formation">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-html5"></i>
      <i class="fa-brands fa-css3"></i>
      <i class="fa-brands fa-node-js"></i>
    </div>
    <h4> Mis fortalezas </h4>
    <p> Me considero una persona con grandes fortalezas a la hora de encarar mis proyectos , danddo lo mejor de mi para
      poder llevar el proyecto de la mejor manera </p>
  </main>
  <footer class="footer">

    <h3> contacto </h3>
    <div class="botones">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </footer>
</body>